:root {
  /* color */
  --primary-color: #164194;
  --primary-color-30: #1641944d;
  --primary-color-70: #164194b3;
  --primary-accent: #2EAC6A;
  --primary-white: #F2F3FA;
  --primary-white-50: #f2f3fa80;
  --primary-black: #424E67;
  --primary-black-10: #424e671a;
  --primary-black-30: #424e674d;
  --primary-black-50: #424e6780;
  --primary-yellow: #FDCC68;
  --primary-grey: #A0A6B3;
  --primary-grey-20: #A0A6B333;
  --primary-grey-sec: #7E7E7E;
  --primary-bg: #EAECF7;

  --white: #ffffff;
  --white-20: rgb(255, 255, 255, 0.2);
  --white-30: rgb(255, 255, 255, 0.3);
  --black: #000000;
}