@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'elements/header.scss';
@import 'elements/footer.scss';
@import 'elements/plate.scss';
@import 'elements/dropdown.scss';
@import 'elements/popup.scss';
@import 'elements/menu.scss';
@import 'elements/timeline.scss';

@import 'pages/index.scss';
@import 'pages/catalog.scss';
@import 'pages/card.scss';
@import 'pages/certificates.scss';
@import 'pages/vacancy.scss';
@import 'pages/news.scss';
@import 'pages/contacts.scss';
@import 'pages/about.scss';
@import 'pages/articles.scss';
@import 'pages/quality.scss';
@import 'pages/buy.scss';
@import 'pages/principles.scss';
@import 'pages/results.scss';
@import 'pages/404.scss';

@import 'pages/policy.scss';

@import 'media';