@font-face {
  font-family: 'ChanovskyIconFonts';
  src: url('./../fonts/icomoon/ChanovskyIconFonts.eot?3rgkvv');
  src: url('./../fonts/icomoon/ChanovskyIconFonts.eot?3rgkvv#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon/ChanovskyIconFonts.ttf?3rgkvv') format('truetype'),
    url('./../fonts/icomoon/ChanovskyIconFonts.woff?3rgkvv') format('woff'),
    url('./../fonts/icomoon/ChanovskyIconFonts.svg?3rgkvv#ChanovskyIconFonts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ChanovskyIconFonts' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-arrow:before {
  content: "\e900";
}

.icon-chevron-circle:before {
  content: "\e901";
}

.icon-download:before {
  content: "\e902";
}

.icon-mail:before {
  content: "\e908";
}

.icon-mail-border:before {
  content: "\e909";
}

.icon-main-download:before {
  content: "\e90a";
}

.icon-person:before {
  content: "\e90b";
}

.icon-play:before {
  content: "\e90e";
}

.icon-search:before {
  content: "\e90f";
}

.icon-tel:before {
  content: "\e910";
}

.icon-telegram-border:before {
  content: "\e911";
}

.icon-whatsapp-border:before {
  content: "\e912";
}