<!-- Подвал сайта -->
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <ul class="footer__list">
        <li class="footer__list-item">
          <a class="footer__list-title" href="/CZ/catalog.html">
            Продукция
          </a>
        </li>
        <li>
          <div class="menu__item-body">
            <ul>
              <h4>
                Для B2B
              </h4>
              <li>
                <a href="/CZ/catalog.html">
                  <img src="./images/menu/b2b-moloko.png" alt="">
                  Сухое молоко
                </a>
              </li>
              <li>
                <a href="/CZ/catalog.html">
                  <img src="./images/menu/b2b-maslo.png" alt="">
                  Масло сливочное
                </a>
              </li>
              <h4>
                Для B2С
              </h4>
              <li>
                <a href="/CZ/catalog.html">
                  <img src="./images/menu/b2c-moloko.png" alt="">
                  Молоко 
                </a>
              </li>
              <li>
                <a href="/CZ/catalog.html">
                  <img src="./images/menu/b2c-smetana.png" alt="">
                  Сметана 
                </a>
              </li>
              <li>
                <a href="/CZ/catalog.html">
                  <img src="./images/menu/b2c-maslo.png" alt="">
                  Масло сливочное
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__list-item">
          <a class="footer__list-title" href="/CZ/about.html">
            О заводе
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/CZ/about.html">
            История завода
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/CZ/quality.html">
            Контроль Качества
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/CZ/vacancy.html">
            Вакансии
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/CZ/news.html">
            Пресс-центр
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/CZ/certificates.html">
            Документы
          </a>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__list-item">
          <a class="footer__list-title" href="/CZ/principles.html">
            Партнерам
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-title" href="/CZ/buy.html">
            Где купить
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-title" href="/CZ/contacts.html">
            Контакты
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-title" href="/CZ/map.html">
            Карта сайта
          </a>
        </li>
      </ul>
      <ul class="menu__list">
        <li class="menu__item accordion">
          <div class="menu__item-head">
            Продукция
            <i class="icon-chevron-circle"></i>
          </div>
          <div class="menu__item-body">
            <ul>
              <h4>
                Для B2B
              </h4>
              <li>
                <a href="/CZ/catalog.html">
                  <img src="./images/menu/b2b-moloko.png" alt="">
                  Сухое молоко
                </a>
              </li>
              <li>
                <a href="/CZ/catalog.html">
                  <img src="./images/menu/b2b-maslo.png" alt="">
                  Масло сливочное
                </a>
              </li>
              <h4>
                Для B2С
              </h4>
              <li>
                <a href="/CZ/catalog.html">
                  <img src="./images/menu/b2c-moloko.png" alt="">
                  Молоко 
                </a>
              </li>
              <li>
                <a href="/CZ/catalog.html">
                  <img src="./images/menu/b2c-smetana.png" alt="">
                  Сметана 
                </a>
              </li>
              <li>
                <a href="/CZ/catalog.html">
                  <img src="./images/menu/b2c-maslo.png" alt="">
                  Масло сливочное
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu__item accordion">
          <div class="menu__item-head">
            О заводе
            <i class="icon-chevron-circle"></i>
          </div>
          <div class="menu__item-body">
            <ul>
              <li>
                <a href="/CZ/about.html">
                  История
                </a>
              </li>
              <li>
                <a href="/CZ/quality.html">
                  Производство
                </a>
              </li>
              <li>
                <a href="/CZ/certificates.html">
                  Сертификаты и лицензии
                </a>
              </li>
              <li>
                <a href="/CZ/vacancy.html">
                  Вакансии
                </a>
              </li>
              <li>
                <a href="/CZ/news.html">
                  Пресс-центр
                </a>
              </li>
              <li>
                <a href="/CZ/quality.html">
                  Контроль качества
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu__item accordion">
          <div class="menu__item-head">
            <a href="/CZ/principles.html">
              Партнерам
            </a>
          </div>
        </li>
        <li class="menu__item accordion">
          <div class="menu__item-head">
            <a href="/CZ/buy.html">
              Где купить
            </a>
          </div>
        </li>
        <li class="menu__item accordion">
          <div class="menu__item-head">
            <a href="/CZ/contacts.html">
              Контакты
            </a>
          </div>
        </li>
      </ul>
      <div class="footer__contact">
        <div class="footer__contact-wrap">
          <a class="footer__contact-phone" href="tel:+73832045980">
            8 (383) 204-59-80
          </a>
          <p>
            Режим работы понедельник&nbsp;&mdash; пятница с&nbsp;8:00 до&nbsp;19:00
          </p>
        </div>
        <div class="footer__contact-wrap">
          <h6>
            Адрес:
          </h6>
          <p>
            Новосибирская&nbsp;область, р.&nbsp;п.&nbsp;Чаны, ул.&nbsp;Ленина,&nbsp;260.
          </p>
        </div>
        <div class="footer__contact-wrap">
          <h6>
            Эл.почта:
          </h6>
          <a href="mailto:pochta@mail.ru">
            pochta@mail.ru
          </a>
        </div>
        <img id="roskachestvo" class="footer__contact-img" src="./images/main/logo-roskachestvo.svg" alt="">
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <div class="footer__bottom-wrap transfer-pos--1">
          <p>
            © 2024 Маслодельный комбинат Чановский
          </p>
          <a href="/CZ/privacy.html">Политика конфиденциальности</a>
          <a href="/CZ/policy.html">Политика обработки персональных данных</a>
        </div>
        <a class="footer__bottom-logo" href="/CZ/">
          <img src="./images/logo/logo-grey.svg" alt="">
        </a>
        <div class="footer__bottom-made transfer-pos--2">
          <a id="made-link" href="https://1and2.ru/">Разработка и&nbsp;продвижение сайта&nbsp;&mdash;
            Once&amp;Twice</a>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
<!-- Плашки -->
<!--=include plate.html-->
<!-- Попап -->
<!--=include popup.html-->
<!-- scipts -->
<script src="./libs/gsap/gsap.min.js" defer></script>
<script src="./libs/gsap/ScrollSmoother.min.js" defer></script>
<script src="./libs/gsap/ScrollTrigger.min.js" defer></script>
<script src="./libs/lenis/lenis.min.js" defer></script>
<script src="./libs/swiper/swiper-bundle.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/transfer-elements@1.0.7/dist/transfer-elements.min.js"></script>
<script src="./libs/jquery/jquery.min.js"></script>
<script src="./libs/fancybox/jquery.fancybox.min.js"></script>
<script src="./js/main.js" defer></script>
</body>

</html>