<!-- Подвал сайта -->
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <ul class="footer__list">
        <li class="footer__list-item">
          <h6 class="footer__list-title">
            Продукция
          </h6>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/">
            Раздел меню
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/">
            Подраздел меню еще один
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/">
            Длинный раздел в две строки
          </a>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__list-item">
          <h6 class="footer__list-title">
            О заводе
          </h6>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/">
            Раздел меню
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/">
            Раздел меню
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/">
            Длинный раздел
            в две строки
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/">
            Подраздел меню еще один
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-link" href="/">
            Очень длинный раздел
            в две строки
          </a>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__list-item">
          <a class="footer__list-title" href="/">
            Партнерам
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-title" href="/">
            Где купить
          </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__list-title" href="/">
            Контакты
          </a>
        </li>
      </ul>
      <div class="footer__contact">
        <div class="footer__contact-wrap">
          <a class="footer__contact-phone" href="">
            8 (383) 204-59-80
          </a>
          <p class="footer__contact-text">
            пн-пт с 8:00 до 19:00
          </p>
        </div>
        <div class="footer__contact-wrap">
          <h6 class="footer__contact-title">
            Адрес:
          </h6>
          <p class="footer__contact-text">
            Новосибирская область, р. п. Чаны, ул. Ленина, 260.
          </p>
        </div>
        <img class="footer__contact-img" src="./images/main/logo-roskachestvo.svg" alt="">
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-inner">
        <span class="footer__bottom-text">
          © 2024 Маслодельный комбинат Чановский
        </span>

        <a class="footer__bottom-logo" href="/">
          <img src="./images/logo/logo-grey.svg" alt="">
        </a>

        <span class="footer__bottom-text">
          Разработка сайта — <a href="/">Once&Twice</a>
        </span>
      </div>
    </div>
  </div>
</footer>
</div>

<!--=include modal.html-->

<!-- scipts -->
<script src="./libs/gsap/gsap.min.js" defer></script>
<script src="./libs/gsap/ScrollSmoother.min.js" defer></script>
<script src="./libs/gsap/ScrollTrigger.min.js" defer></script>
<script src="./libs/lenis/lenis.min.js" defer></script>
<script src="./libs/swiper/swiper-bundle.min.js" defer></script>
<script src="./js/main.js" defer></script>
</body>

</html>