<div class="modal lenis" id="modal-order" data-lenis-prevent>
  <div class="modal__box">
    <button class="modal__close-btn">
    </button>
    <div class="modal__content">
      <div class="modal__head">
        <h2>Заказать продукцию завода</h2>
      </div>
      <div class="modal__body">
        <form action="#" method="get">
          <div class="form-group">
            <i class="icon-person"></i>
            <input class="form-input" type="text" placeholder="Ваше имя" required>
          </div>
          <div class="form-group">
            <i class="icon-mail"></i>
            <input class="form-input" type="text" placeholder="Эл. почта" pattern="^\S+@\S+\.\S+$" minlength="2"
              maxlength="40" required>
          </div>
          <div class="form-group">
            <i class="icon-person"></i>
            <input class="form-input" type="text" placeholder="Название компании" required>
          </div>
          <button class="form-btn btn btn-yellow">
            Отправить
          </button>
          <div class="form-bottom">
            <p>
              Нажимая кнопку «Отправить», я&nbsp;согласен с&nbsp;<a href="/policy.html">обработкой персональных
                данных</a> и с&nbsp;<a href="/agreement.html">пользовательским соглашением</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal lenis" id="modal-callback" data-lenis-prevent>
  <div class="modal__box">
    <button class="modal__close-btn">
    </button>
    <div class="modal__content">
      <div class="modal__head">
        <h2>Свяжитесь<br>
          с&nbsp;нами</h2>
      </div>
      <div class="modal__body">
        <form action="#" method="get">
          <div class="form-group">
            <i class="icon-person"></i>
            <input class="form-input" name="names" type="text" placeholder="Ваше имя" required>
          </div>
          <div class="form-group">
            <i class="icon-mail"></i>
            <input class="form-input" name="mail" type="email" placeholder="Эл. почта" pattern="^\S+@\S+\.\S+$"
              minlength="2" maxlength="40" required>
          </div>
          <div class="form-group">
            <i class="icon-person"></i>
            <input class="form-input" name="company-name" type="text" placeholder="Название компании" required>
          </div>
          <button class="form-btn btn btn-yellow">
            Отправить
          </button>
          <div class="form-bottom">
            <p>
              Нажимая кнопку «Отправить», я&nbsp;согласен с&nbsp;<a href="/policy.html">обработкой персональных
                данных</a> и с&nbsp;<a href="/agreement.html">пользовательским соглашением</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal lenis" id="modal-vacancy" data-lenis-prevent>
  <div class="modal__box">
    <button class="modal__close-btn">
    </button>
    <div class="modal__content">
      <div class="modal__head">
        <h2>
          Заполните отклик на&nbsp;вакансию
        </h2>
      </div>
      <div class="modal__body">
        <form action="#" method="get">
          <div class="form-group">
            <i class="icon-person"></i>
            <input class="form-input" name="names" type="text" placeholder="Ваше имя" required>
          </div>
          <div class="form-group">
            <i class="icon-mail"></i>
            <input class="form-input" name="mail" type="email" placeholder="Эл. почта" pattern="^\S+@\S+\.\S+$"
              minlength="2" maxlength="40" required>
          </div>
          <div class="form-group form-group--textarea">
            <i class="icon-edit"></i>
            <textarea class="form-textarea" name="comment" rows="1" placeholder="Комментарий"></textarea>
          </div>
          <div class="form-group form-file-wrap">
            <input class="form-file-input" id="form-file" type="file" value="" tabindex="5">
            <label class="form-file" for="form-file">
              <div>
                <i class="form-file-icon"></i> <span class="form-file-text">Прикрепить резюме</span>
              </div> <span>(не более 20 мегабайт)</span>
            </label>
            <div id="clear" class="form-file-clear">Удалить файл</div>
          </div>
          <button class="form-btn btn btn-yellow">
            Отправить
          </button>
          <div class="form-bottom">
            <p>
              Нажимая кнопку «Отправить», я&nbsp;согласен с&nbsp;<a href="/policy.html">обработкой персональных
                данных</a> и с&nbsp;<a href="/agreement.html">пользовательским соглашением</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>